{% extends "base.html" %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h2 class="display-4 fw-bolder">درباره ما</h2>
            <p class="lead fw-normal text-white-50 mb-0">داستان ما را بشنوید</p>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-10">
                <p align="justify">
                    این سایت از سال 1403 ساخته شده و در اختیار کاربران قرار گرفته است.
                     کیفیت و رضایت مشتریان برایمان اولویت است.
                    ما در آلر, به مد و سبک زندگی مدرن اعتقاد داریم. مجموعه ای متنوع از لباس های باکیفیت و طراحی های روز دنیا را برای آقایان و خانم ها ارائه می دهیم.
                    هدف ما این است که به شما کمک کنیم تا بهترین ورژن از خودتان باشید.
                    با ما همراه شوید تا از دنیای مد لذت ببرید.
                </p>
            </div>
        </center>
    </div>
</div>
<br><br>
{% endblock %}